@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
  }
}

.animate-appear {
  animation-name: appear;
  animation-duration: 700ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

@keyframes ToptoBottom {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-ToptoBottom {
  animation-name: ToptoBottom;
  animation-duration: 700ms;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}